<div class="container-fluid">
    <div class="row text-center align-items-center flex-row-reverse">
        <div class="col-lg-auto ms-lg-auto col-md-auto ms-md-auto d-none d-sm-inline">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item">Version: 1.1.0</li>
            </ul>
        </div>
        <div class="col-12 col-lg-auto col-md-auto mt-lg-0 mt-md-0">
            <ul class="list-inline list-inline-dots mb-0">
                <li class="list-inline-item font-weight-bold">
                    © 2022
                    <a href="{{themeConfig.footerUrl}}" target="_blank" class="link-light" style="color: {{configData.text_color}}">{{configData.name_app}}</a>
                </li>
                <!-- <li class="list-inline-item">
                    <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="11" r="3"></circle><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path></svg>Trụ sở: Số 1 Giang Văn Minh, P Kim Mã, Q Ba Đình
                </li>
                <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path><path d="M15 7a2 2 0 0 1 2 2"></path><path d="M15 3a6 6 0 0 1 6 6"></path></svg>Chăm sóc khách hàng: <b>1800 8098</b></li> -->
            </ul>
        </div>
    </div>
</div>
