<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" ng-if="!editBranch.id">{{'UTILITES.BRANCH.INSERT_BRANCH' | translate}}</h5>
        <h5 class="modal-title" ng-if="editBranch.id">{{'UTILITES.BRANCH.UPDATE_BRANCH' | translate}}</h5>
        <button type="button" class="btn-close" ng-click="cancel()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form ng-submit="onCreateUpdateBranch(0)">
            <div class="form-group mb-3 row">
                <label class="form-label col-md-3 col-form-label font-weight-normal required">{{'UTILITES.BRANCH.BRANCH_NAME' | translate}}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="editBranch.name" type="text" maxlength="255">
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label class="form-label col-md-3 col-form-label font-weight-normal">{{'UTILITES.BRANCH.BRANCH_TAX_NUMBER' | translate}}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="editBranch.tax_number" type="text" maxlength="255">
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label class="form-label col-md-3 col-form-label font-weight-normal ">{{'UTILITES.BRANCH.BRANCH_EMAIL' | translate}}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="editBranch.email" type="email" maxlength="255">
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label class="form-label col-md-3 col-form-label font-weight-normal ">{{'UTILITES.BRANCH.BRANCH_PHONE' | translate}}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="editBranch.phone" type="text" maxlength="255">
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label class="form-label col-md-3 col-form-label font-weight-normal required">{{'UTILITES.BRANCH.BRANCH_ADDRESS' | translate}}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="editBranch.address" type="text" maxlength="255"></input>
                </div>
            </div>
            <div class="form-group row">
                <label class="form-label col-md-3 col-form-label font-weight-normal pt-0">{{'COMMON.OPTION' | translate}}</label>
                <div class="col-md-9">
                    <label class="form-check">
                        <input class="form-check-input" ng-model="editBranch.status" type="checkbox">
                        <span class="form-check-label">{{'COMMON.USING' | translate}}</span>
                    </label>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer mt-3">
        <a href="" class="btn btn-secondary" ng-click="cancel()" >
            {{'COMMON.CLOSE' | translate}}
        </a>
        <div class="btn-list ms-auto">
            <button type="button" class="btn btn-outline-primary btn-outline-primary-customer" ng-click="onCreateUpdateBranch(1)">
                {{'COMMON.SAVE_AND_ADD' | translate}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="onCreateUpdateBranch(0)">
                {{'COMMON.SAVE' | translate}}
            </button>
        </div>
    </div>
</div>
