<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title">{{'INTERNAL.APPROVAL_MANAGE.APPROVE_DOCUMENT' | translate}}</h5>
        <button type="button" class="btn-close" ng-click="cancel()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
            <div class="row">
                <div class="form-group mb-3 row">
                    <div class="col-lg-12 mt-auto mb-auto">
                        <div class="align-content-end">
                            <label class="form-label">{{'INTERNAL.APPROVAL_MANAGE.ACTION' | translate}}</label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" ng-value="true"  ng-model="approveParams.isAgree" ng-checked="approveParams.isAgree" >
                                <span class="form-check-label">{{'INTERNAL.APPROVAL_MANAGE.AGREE_APPROVE_DOCUMENT' | translate}}</span>
                            </label>
                            <label class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" ng-value="false" ng-model="approveParams.isAgree" ng-checked="!approveParams.isAgree">
                                <span class="form-check-label">{{'INTERNAL.APPROVAL_MANAGE.DENY_APPROVE_DOCUMENT' | translate}}</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 mt-auto mb-auto">
                    <div>
                        <label class="form-label">{{'INTERNAL.APPROVAL_MANAGE.APPROVE_CONTENT' | translate}}</label>
                        <textarea class="form-control autosize" data-bs-toggle="autosize" ng-model="approveParams.content"
                            placeholder="{{'INTERNAL.APPROVAL_MANAGE.APPROVE_DOCUMENT_PLACEHOLDER' | translate}}"
                            maxlength="500"></textarea>
                        <small class="form-hint mb-1">{{'INTERNAL.APPROVAL_MANAGE.DENY_APPROVE_DOCUMENT_REASON' | translate}}<strong
                                class="text-danger font-weight-bold">{{'INTERNAL.APPROVAL_MANAGE.DENY_APPROVE_DOCUMENT' | translate}}</strong> tài liệu.</small>
                        <small class="form-hint">{{'INTERNAL.APPROVAL_MANAGE.DENY_NOTE_START' | translate}}<strong class="text-danger font-weight-bold">{{'INTERNAL.APPROVAL_MANAGE.DENY_APPROVE_DOCUMENT' | translate}}</strong>{{'INTERNAL.APPROVAL_MANAGE.DENY_NOTE_END' | translate}}</small>
                    </div>
                </div>
            </div>
    </div>
    <div class="modal-footer mt-3">
        <a href="" class="btn btn-secondary" ng-click="cancel()" >
            {{'COMMON.CLOSE' | translate}}
        </a>
        <div class="btn-list ms-auto">
            <button type="button" class="btn btn-primary" ng-click="onApproveDocumentConfirm(approveType)">
                {{'COMMON.NOTIFICATION.OK' | translate}}
            </button>
        </div>
    </div>
</div>