<div class="modal-header">
    <h5 class="modal-title">{{'DOCUMENT.LST_SIGNATURE' | translate}}</h5>
    <small>{{'DOCUMENT.LST_SIGNATURE_COUNT' | translate}}: {{signatureData.length}}</small>
    <button type="button" class="btn-close" ng-click="cancel()" aria-label="Close"></button>
</div>
<div class="modal-body">
    <div class="card p-2 mb-2" ng-repeat="item in signatureData track by $index">
        <div class="row">
            <a ng-class="{'ui ribbon bg-success': item.verifySignature, 'ui ribbon bg-warning' : !item.verifySignature }"  style="width: 15%;" class="text-decoration-none text-white ">{{ item.verifySignature ? 'DOCUMENT.VALID' : 'DOCUMENT.INVALID' | translate}}</a>
            <div class="col-10 row">
                <div class="form-group">
                    <span class="strong">{{'DOCUMENT.SIGNATURE_NAME' | translate}}</span>:
                    <span>{{item.name}}</span>
                </div>
                <div class="form-group">
                    <span class="strong">{{'DOCUMENT.SIGNATURE_PROVIDER' | translate}}</span>:
                    <span>{{item.issuerName}}</span>
                </div>
                <div class="form-group">
                    <span class="strong">{{'DOCUMENT.TIME_SIGNATURE' | translate}}</span>:
                    <span>{{item.date}}</span>
                </div>
            </div>
            <div class="col-2 position-relative">
                <span class=" fst-italic position-absolute text-decoration-none a-link cursor-pointer bottom-0 " style="right: 0" ng-click="viewDetail($index)">{{'DOCUMENT.DETAIL' | translate}}</span>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer mt-3">
    <a ng-click="cancel()" class="btn btn-outline-danger btn-outline-danger-customer">
        {{'COMMON.CLOSE' | translate}}
    </a>
</div>
