<div class="modal-content">
    <div class="card border-0">
        <ul class="nav nav-tabs flex-row-reverse">
            <li class="nav-item">
                <a href="#company_tabs_signature" class="nav-link" data-bs-toggle="tab">{{'CONFIG.ACCOUNT.ACCOUNT_SIGNATURE' | translate}}</a>
            </li>
            <li class="nav-item">
                <a href="#personal-tabs-signature" class="nav-link active" data-bs-toggle="tab">{{'CONFIG.ACCOUNT.USER_SIGNATURE' | translate}}</a>
            </li>
            <li class="nav-item mb-auto mt-auto me-auto">
                <a href="" class="nav-link">{{'DOCUMENT.SELECT_SIGNATURE' | translate}}</a>
            </li>
        </ul>
        <div class="card-body">
            <div class="tab-content">
                <div class="tab-pane" id="company_tabs_signature">
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="card-body text-center" style="border: 1px dashed; width:100%;">
                                <img height="228" class="mx-auto mb-2 cursor-pointer" ng-src="{{selectSignature.company_signature}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto ms-auto">
                            <a href="" class="btn btn-secondary" ng-click="cancel()">
                                {{'COMMON.CLOSE' | translate}}
                            </a>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-primary" ng-click="selectImageSignature(0)">
                                {{'DOCUMENT.SELECT_SIGNATURE' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="tab-pane active show" id="personal-tabs-signature">
                    <div class="row mb-2">
                        <div class="col-12">
                            <div class="card-body text-center" style="border: 1px dashed; width:100%;">
                                <img height="228" class="mx-auto mb-2 cursor-pointer" ng-src="{{selectSignature.personal_signature}}"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-auto ms-auto">
                            <a href="" class="btn btn-secondary" ng-click="cancel()">
                                {{'COMMON.CLOSE' | translate}}
                            </a>
                        </div>
                        <div class="col text-end">
                            <button type="button" class="btn btn-primary" ng-click="selectImageSignature(1)">
                                {{'DOCUMENT.SELECT_SIGNATURE' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
