<div class="loadingapp hidden">
	<div class="spinner">
        <img src="/vcontract/assets/images/loading.jpg">
	</div>
</div>
<div class="page" ng-controller="MainCtrl as mainCtrl">
	<div class="navbar navbar-expand-md navbar-primary d-print-none sticky-top" ng-include="'admin/views/common/header.html'"></div>

	<div class="content" ng-include="'admin/views/common/main-content.html'"></div>

	<div class="footer bg-primary d-print-none shadow" ng-include="'admin/views/common/footer.html'"></div>
</div>
