<div class="modal-content">
    <div class="modal-header">
        <h5 class="modal-title" ng-if="!editDocumentTutorial.id">{{'DOCUMENT_TUTORIAL.INSERT_DOCUMENT_TUTORIAL' |
            translate}}</h5>
        <h5 class="modal-title" ng-if="editDocumentTutorial.id">{{'DOCUMENT_TUTORIAL.UPDATE_DOCUMENT_TUTORIAL' |
            translate}}</h5>
        <button type="button" class="btn-close" ng-click="cancel()" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <form ng-submit="onCreateUpdateDocumentTutorial(0)">
            <div class="form-group mb-3 row">
                <label
                    class="form-label col-md-3 col-form-label font-weight-normal required">{{'DOCUMENT_TUTORIAL.NAME' | translate}}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="editDocumentTutorial.name" type="text" maxlength="255">
                </div>
            </div>
            <div class="form-group mb-3 row">
                <label
                    class="form-label col-md-3 col-form-label font-weight-normal required">{{'DOCUMENT_TUTORIAL.DESCRIPTION' | translate}}</label>
                <div class="col-md-9">
                    <input class="form-control" ng-model="editDocumentTutorial.description" maxlength="1024" type="text">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-12">
                    <div class="row row-cards" id="upload-panel">
                        <div class="col-12">
                            <div class="card card-md">
                                <div class="card-body text-center file-drop file-upload">
                                    <img class="mx-auto mb-2"
                                        src="admin/assets/images/upload-icon.png" alt=""
                                        width="66">
                                    <p class="text-muted">{{'DOCUMENT_TUTORIAL.DRAG_HERE' | translate}} <a
                                            href="javascript:void(0)"><label style="cursor: pointer"
                                                for="uploadFile"><b>{{'DOCUMENT_TUTORIAL.CLICK_HERE' |
                                                    translate}}</b></label></a>
                                        {{'DOCUMENT_TUTORIAL.CHOOSE_FILE'
                                        | translate}}</p>
                                    <p class="text-muted">{{'DOCUMENT_TUTORIAL.FILE_EXTENSION' | translate}}
                                    </p>
                                    <input type="file" class="form-control-file hidden"
                                        multiple="multiple" name="File" id="uploadFile" required=""
                                        accept="application/pdf, application/msword, application/vnd.openxmlformats-officedocument.wordprocessingml.document">
                                </div>
                                <div class="progress progress-sm card-progress">
                                    <div id="progressBar" class="progress-bar" style="width: 0%"
                                        role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                        aria-valuemax="100">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="selected-file" class="">
                        <div class="card mt-3 card-body"
                            ng-repeat="file in selectedFile track by $index">
                            <div class="row">
                                <div class="col mt-auto mb-auto"><b>{{file.name}}</b></div>
                                <div class="col-auto ms-auto file-size">
                                    <strong>{{'DOCUMENT_TUTORIAL.FILE_SIZE' |
                                        translate}} </strong>{{file.size}}
                                </div>
                                <div class="col-auto ms-auto">
                                    <a style="opacity: 0.3; cursor:pointer;" ng-click="removeFile(file, $index)"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                                        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                        <line x1="18" y1="6" x2="6" y2="18"></line>
                                        <line x1="6" y1="6" x2="18" y2="18"></line>
                                    </svg></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer mt-3">
        <a href="" class="btn btn-secondary" ng-click="cancel()">
            {{'COMMON.CLOSE' | translate}}
        </a>
        <div class="btn-list ms-auto">
            <button type="button" class="btn btn-outline-primary btn-outline-primary-customer"
                ng-click="onCreateUpdateDocumentTutorial(1)">
                {{'COMMON.SAVE_AND_ADD' | translate}}
            </button>
            <button type="button" class="btn btn-primary" ng-click="onCreateUpdateDocumentTutorial(0)">
                {{'COMMON.SAVE' | translate}}
            </button>
        </div>
    </div>
</div>
<script>
    var fileDrop = $(".file-drop");
    fileDrop.on('drag dragstart dragend dragover dragenter dragleave drop', function (e) {
        e.preventDefault();
        e.stopPropagation();
    })
        .on('drop', function (e) {
            var droppedFiles = e.originalEvent.dataTransfer.files;
            $("#uploadFile")[0].files = droppedFiles;
            $("#uploadFile").trigger("change");
        });

    $("#uploadFile").on("change", evt => {
        var files = evt.target.files;
        angular.element(document.getElementById('uploadFile')).scope().onUploadFile(files);
        $("#uploadFile").val(null);
    });

    $("#text-font-size").on("change", evt => {
        angular.element(document.getElementById('uploadFile')).scope().onChangeFontSize(evt);
    });
    $("#text-font-style").on("change", evt => {
        angular.element(document.getElementById('uploadFile')).scope().onChangeFontStyle(evt);
    });
</script>