<header class=" page-header navbar navbar-expand-md d-print-none sticky-top navbar-primary" style="background: {{configData.theme_header_color}}; color: {{configData.text_color}}">
    <div>
        <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-lg-0" style="margin-left:5%;">
            <a href="#">
                <img ng-src="{{configData.logo_dashboard}}" alt="eContracts" class="navbar-brand-image">
            </a>
        </h1>
    </div>
</header>
<div class="container-fluid page" style="padding: 0" ng-controller="DetailDocumentTutorialCtrl as detailDocumentTutorialCtrl">
    <div class="row align-content-center d-print-none">
        <div class="col-lg-12">
            <div class="flex-grow-0 m-0" style="padding: .6rem 1.2rem; background: #dde0e5;">
                <div class="row align-items-center">
                    <div class="col-auto ms-auto">
                        <div class="pageTool">
                            <div class="btn-group w-100">
                                <div class="col-auto ms-auto" style="margin-right:5%" id="scale">
                                <select class="form-select" ng-change="detailDocumentTutorialCtrl.onChangeScale()" ng-model="scale">
                                    <option ng-repeat="scale in lstScale" value="{{scale.value}}">{{scale.description}}</option>
                                </select>
                                </div>
                                <a href="javascript:void(0)" class="btn btn-white btn-icon" aria-label="Button" id="prev">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M21 5v14l-8 -7z"></path><path d="M10 5v14l-8 -7z"></path></svg>
                                </a>
                                <div class="btn btn-white btn-icon">
                                    <label>{{'DOCUMENT.PAGE'| translate}}:</label>
                                    &nbsp;<span id="page-num">1</span>&nbsp;/&nbsp;<span
                                    id="total-page">2</span>
                                </div>
                                <a href="javascript:void(0)" class="btn btn-white btn-icon" aria-label="Button" id="next">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 5v14l8 -7z"></path><path d="M14 5v14l8 -7z"></path></svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content">
                <div class="container-xl">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="document-container">
                                <div id="doc-viewer" class="docs-scroll page-content">
                                    <div id="viewer"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>
<div class="footer d-print-none shadow bg-{{configData.theme_footer_color}}">
        <div class="container-fluid">
            <div class="row text-center align-items-center flex-row-reverse">
                <div class="col-lg-auto ms-lg-auto col-md-auto ms-md-auto d-none d-sm-inline">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item">Version: 1.0.0</li>
                    </ul>
                </div>
                <div class="col-12 col-lg-auto col-md-auto mt-lg-0 mt-md-0">
                    <ul class="list-inline list-inline-dots mb-0">
                        <li class="list-inline-item font-weight-bold">
                            © 2022
                            <a href="{{themeConfig.footerUrl}}" target="_blank" class="link-light"  style="color: {{configData.text_color}}">{{configData.name_app}}</a>
                        </li>
                        <!-- <li class="list-inline-item">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><circle cx="12" cy="11" r="3"></circle><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z"></path></svg>Trụ sở: Tầng 6 tòa nhà Sannam, số 78 phố Duy Tân, phường Dịch Vọng Hậu, quận Cầu Giấy, thành phố Hà Nội, Việt Nam
                        </li>
                        <li class="list-inline-item"><svg xmlns="http://www.w3.org/2000/svg" class="icon me-1" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2"></path><path d="M15 7a2 2 0 0 1 2 2"></path><path d="M15 3a6 6 0 0 1 6 6"></path></svg>Chăm sóc khách hàng: <b>0979.376.677</b></li> -->
                    </ul>
                </div>
            </div>
        </div>
</div>


<script>

    // $("#text-description").on("change", evt => {
    //     angular.element(document.getElementById('text-description')).scope().onChangeDescription(evt);
    // });
    // $("#checkbox-description").on("change", evt => {
    //     angular.element(document.getElementById('checkbox-description')).scope().onChangeCheckboxDescription(evt);
    // });
    //
    // $("#text-font-size").on("change", evt => {
    //     angular.element(document.getElementById('text-font-size')).scope().onChangeFontSize(evt);
    // });
    // $("#text-font-style").on("change", evt => {
    //     angular.element(document.getElementById('text-font-style')).scope().onChangeFontStyle(evt);
    // });
</script>

