<div class="container-fluid" ng-controller="DocumentTypeCtrl as document_typeCtrl">
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    {{'UTILITES.DOCUMENT_TYPE.LIST' | translate}}
                </h2>
            </div>
            <div class="col-auto ms-auto d-print-none" ng-if="document_typeCtrl.permission.is_write == 1">
                <div class="btn-list">
                    <a ng-click="document_typeCtrl.openAddDocumentTypeModal()"
                        class="btn btn-outline-primary btn-outline-primary-customer d-none d-sm-inline-block">
                        {{'COMMON.CREATE' | translate}}
                    </a>
                    <a ng-click="document_typeCtrl.onDeleteMultiDocumentTypes()"
                        class="btn btn-outline-danger btn-outline-danger-customer d-none d-sm-inline-block">
                        {{'COMMON.DELETE' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-content-center d-print-none">
        <div class="col-12">
            <form ng-submit="onSearchDocumentType()">
                <input type="submit" hidden>
                <div class="row g-2 mb-3">
                    <div class="col-lg-2 col-md-2">
                        <select class="form-select" ng-change="onSearchDocumentType()" ng-model="document_typeCtrl.searchDocumentType.document_group_id">
                            <option value="-1">{{'UTILITES.DOCUMENT_TYPE.DOCUMENT_TYPE_DOCUMENT_GROUP' | translate}}</option>
                            <option ng-repeat="document_group in document_typeCtrl.lstDocumentGroup" value="{{document_group.id}}">{{document_group.name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <select class="form-select" ng-change="onSearchDocumentType()" ng-model="document_typeCtrl.searchDocumentType.dc_style">
                            <option value="-1">{{'UTILITES.DOCUMENT_TYPE.DOCUMENT_STYLE.DEFAULT' | translate}}</option>
                            <option ng-repeat="style in lstDocumentStyle" value="{{style.id}}">{{style.description | translate}}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <select class="form-select" ng-change="onSearchDocumentType()" ng-model="document_typeCtrl.searchDocumentType.status">
                            <option ng-repeat="status in lstActiveStatus" value="{{status.id}}">{{status.description | translate}}</option>
                        </select>
                    </div>
                    <div class="col-lg col-md-auto">
                        <input type="text" class="form-control search-box" placeholder="{{'COMMON.SEARCH_KEYWORD' | translate}}" ng-model="document_typeCtrl.searchDocumentType.keyword">
                    </div>
                    <div class="col-auto ms-auto d-print-none">
                        <a ng-click="onSearchDocumentType()" class="btn btn-primary btn-icon"
                            aria-label="Button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="10" cy="10" r="7"></circle>
                                <line x1="21" y1="21" x2="15" y2="15"></line>
                            </svg>
                        </a>
                    </div>
                </div>
            </form>
            
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap datatable table-hover dataTable no-footer" datatable="" dt-instance="document_typeCtrl.dtInstance" dt-options="document_typeCtrl.dtOptions"
                    dt-columns="document_typeCtrl.dtColumns"></table>
            </div>
        </div>
    </div>
</div>