<div class="container-fluid" ng-controller="EmployeeCtrl as employeeCtrl">
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    {{'UTILITES.EMPLOYEE.LIST' | translate}}
                </h2>
            </div>
            <div class="col-auto ms-auto d-print-none" ng-if="employeeCtrl.permission.is_write == 1">
                <div class="btn-list">
                    <a ng-click="employeeCtrl.openAddEmployeeModal()"
                        class="btn btn-outline-primary btn-outline-primary-customer d-none d-sm-inline-block">
                        {{'COMMON.CREATE' | translate}}
                    </a>
                    <a ng-click="employeeCtrl.onDeleteMultiEmployees()"
                        class="btn btn-outline-danger btn-outline-danger-customer d-none d-sm-inline-block">
                        {{'COMMON.DELETE' | translate}}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-content-center d-print-none">
        <div class="col-12">
            <form ng-submit="onSearchEmployee()">
                <input type="submit" hidden>
                <div class="row g-2 mb-3">
                    <div class="col-lg-2 col-md-2">
                        <select class="form-select" ng-change="onSearchEmployee()" ng-model="employeeCtrl.searchEmployee.department_id">
                            <option value="-1">{{'UTILITES.EMPLOYEE.EMPLOYEE_DEPARTMENT_NAME' | translate}}</option>
                            <option ng-repeat="department in employeeCtrl.lstDepartment" value="{{department.id}}">{{department.name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <select class="form-select" ng-change="onSearchEmployee()" ng-model="employeeCtrl.searchEmployee.position_id">
                            <option value="-1">{{'UTILITES.EMPLOYEE.EMPLOYEE_POSITION_NAME' | translate}}</option>
                            <option ng-repeat="position in employeeCtrl.lstPosition" value="{{position.id}}">{{position.name}}</option>
                        </select>
                    </div>
                    <div class="col-lg-2 col-md-2">
                        <select class="form-select" ng-change="onSearchEmployee()" ng-model="employeeCtrl.searchEmployee.status">
                            <option ng-repeat="status in lstActiveStatus" value="{{status.id}}">{{status.description | translate}}</option>
                        </select>
                    </div>
                    <div class="col-lg col-md-auto">
                        <input type="text" class="form-control search-box" placeholder="{{'UTILITES.EMPLOYEE.EMPLOYEE_KEYWORD_SEARCH' | translate}}" ng-model="employeeCtrl.searchEmployee.keyword">
                    </div>
                    <div class="col-auto ms-auto d-print-none">
                        <a ng-click="onSearchEmployee()" class="btn btn-primary btn-icon"
                            aria-label="Button">
                            <svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                                <circle cx="10" cy="10" r="7"></circle>
                                <line x1="21" y1="21" x2="15" y2="15"></line>
                            </svg>
                        </a>
                    </div>
                </div>
            </form>
            
        </div>
        <div class="col-12">
            <div class="table-responsive">
                <table class="table card-table table-vcenter table-striped text-nowrap datatable table-hover dataTable no-footer" datatable="" dt-instance="employeeCtrl.dtInstance" dt-options="employeeCtrl.dtOptions"
                    dt-columns="employeeCtrl.dtColumns"></table>
            </div>
        </div>
    </div>
</div>